<div class="row justify-content-center">
    <div class="col-md-10">
        <form action="/shortener-url" method="post" class="needs-validation" novalidate>
            {{#if error}}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{error}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            <div class="from-group">
                <label for="url">URL</label>
                <input type="text" class="form-control" name="url" id="url" placeholder="Enter URL" value="{{ url }}"
                    required>
                <small class="form-text text-muted">
                    ex: 'http://werer.gr', 'https://www.google.com'
                </small>
                <div class="invalid-feedback">
                    請輸入網址
                </div>
            </div>

            <div class="d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-info btn-sm">送出</button>
            </div>
        </form>

        <div class="custom-group mt-5">
            <h4>短網址: </h4>
            <div class="border rounded py-2 px-3" style="min-height: 200px;">
                <a href="{{shortenerUrl}}">{{urlContent}}</a>
            </div>
        </div>

    </div>
</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>